-- ============================================================================
-- 2026-05-06  ShipmentDetail.OutQuantity vs EstQuantity 불일치 검증/정정
-- ============================================================================
-- 배경:
--   옛 전산이 EstQuantity 를 단(Bunch) 단위로 저장한 데이터가 남아있음.
--   새 웹 코드는 OutQuantity = EstQuantity (박스 단위) 로 같이 update 함.
--   같은 컬럼에 두 단위 혼재 → "확정 눌렸는데 출고일 지정수량이 다름" 발생.
--
-- 사용 순서 (각 STEP 별도 실행 — F5 누르기 전 영역 선택):
--   STEP 1. 영향 범위 통계
--   STEP 2. 차수별 mismatch 분포
--   STEP 3. 거래처별 sample 미리보기 (변경 전)
--   STEP 4. 트랜잭션 시작 + UPDATE
--   STEP 5. 변경 후 검증
--   STEP 6. COMMIT 또는 ROLLBACK (수동)
-- ============================================================================


-- ─────────────────────────────────────────────────────────────────────────
-- STEP 1. 전체 영향 범위 통계
-- ─────────────────────────────────────────────────────────────────────────
SELECT
  COUNT(*) AS totalRows,
  SUM(CASE WHEN ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01 THEN 1 ELSE 0 END) AS mismatchRows,
  SUM(CASE WHEN ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01 THEN 1 ELSE 0 END)
    * 100.0 / COUNT(*) AS mismatchPct
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0;


-- ─────────────────────────────────────────────────────────────────────────
-- STEP 2. 차수별 mismatch 분포 — 어떤 차수가 가장 많은지
-- ─────────────────────────────────────────────────────────────────────────
SELECT TOP 30
  sm.OrderWeek,
  COUNT(*) AS totalRows,
  SUM(CASE WHEN ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01 THEN 1 ELSE 0 END) AS mismatchRows
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0
GROUP BY sm.OrderWeek
HAVING SUM(CASE WHEN ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01 THEN 1 ELSE 0 END) > 0
ORDER BY mismatchRows DESC;


-- ─────────────────────────────────────────────────────────────────────────
-- STEP 3. 거래처별 sample 미리보기 (변경 대상 row 의 OutQ vs EstQ)
--   변경 전 상태를 직접 눈으로 확인.
--   원하는 차수 / 거래처로 좁히려면 WHERE 조건 추가
-- ─────────────────────────────────────────────────────────────────────────
SELECT TOP 100
  sm.OrderWeek, c.CustName, p.ProdName, p.OutUnit,
  ISNULL(sd.OutQuantity,0) AS curOutQ,
  ISNULL(sd.EstQuantity,0) AS curEstQ,
  ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0) AS diff,
  ISNULL(sd.BoxQuantity,0)   AS curBox,
  ISNULL(sd.BunchQuantity,0) AS curBunch,
  ISNULL(sd.SteamQuantity,0) AS curSteam,
  sd.SdetailKey
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
JOIN Customer c ON sm.CustKey = c.CustKey
JOIN Product p ON sd.ProdKey = p.ProdKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0
  AND ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01
  -- AND sm.OrderWeek = '18-01'      -- 차수 좁히기 (필요 시 주석 해제)
  -- AND c.CustKey = 520              -- 거래처 좁히기
ORDER BY sm.OrderWeek DESC, c.CustName, p.ProdName;


-- ─────────────────────────────────────────────────────────────────────────
-- STEP 4. 트랜잭션 시작 + UPDATE
--   중요: 이 블록만 선택해서 F5. 자동 COMMIT 안 됨.
--   아래 STEP 5 검증 후 수동 COMMIT 또는 ROLLBACK 결정.
-- ─────────────────────────────────────────────────────────────────────────
BEGIN TRANSACTION;

-- 변경 전 후보 행 개수 (잠금 검증용)
DECLARE @before INT;
SELECT @before = COUNT(*)
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0
  AND ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01;

PRINT '변경 대상 행 수: ' + CAST(@before AS NVARCHAR(20));

-- UPDATE: EstQuantity = OutQuantity 로 통일
UPDATE sd
SET EstQuantity = OutQuantity
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0
  AND ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01
  -- AND sm.OrderWeek = '18-01'      -- 차수 좁히려면 주석 해제 (STEP 3 와 동일)
  -- AND sm.CustKey = 520
;

PRINT '변경된 행 수: ' + CAST(@@ROWCOUNT AS NVARCHAR(20));


-- ─────────────────────────────────────────────────────────────────────────
-- STEP 5. 변경 후 검증 — mismatch 가 0 인지
--   STEP 4 트랜잭션 안에서 실행
-- ─────────────────────────────────────────────────────────────────────────
SELECT
  COUNT(*) AS totalRows,
  SUM(CASE WHEN ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01 THEN 1 ELSE 0 END) AS remainingMismatch
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0;
-- remainingMismatch = 0 이어야 정상

-- 샘플 확인 (변경 후 OutQ = EstQ 인지)
SELECT TOP 20 sm.OrderWeek, c.CustName, p.ProdName,
       sd.OutQuantity, sd.EstQuantity
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
JOIN Customer c ON sm.CustKey = c.CustKey
JOIN Product p ON sd.ProdKey = p.ProdKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0
ORDER BY sm.OrderWeek DESC, c.CustName, p.ProdName;


-- ─────────────────────────────────────────────────────────────────────────
-- STEP 6. 수동 COMMIT 또는 ROLLBACK (둘 중 하나만 실행)
-- ─────────────────────────────────────────────────────────────────────────

-- 결과 OK → 적용:
COMMIT TRANSACTION;

-- 결과 이상 → 되돌리기:
ROLLBACK TRANSACTION;


-- ============================================================================
-- 부록: ShipmentMaster.isFix vs StockMaster.isFix 일관성 검증 (별도 이슈)
-- ============================================================================
-- 새 fix.js 는 StockMaster.isFix=1 set 함
-- 옛 전산은 그 컬럼을 안 씀 → 거의 모든 차수가 mismatch 인 게 정상
-- 즉 isFix 불일치는 옛 데이터 호환성 이슈 — 데이터 수정 대상 아님
SELECT
  sm.OrderWeek,
  SUM(CASE WHEN sm.isFix = 1 THEN 1 ELSE 0 END) AS shipMasterFixCount,
  COUNT(*) AS totalShipMasters,
  (SELECT COUNT(*) FROM StockMaster smX
    WHERE smX.OrderWeek = sm.OrderWeek AND smX.isFix = 1) AS stockMasterFixCount
FROM ShipmentMaster sm
WHERE sm.isDeleted = 0
GROUP BY sm.OrderWeek
ORDER BY sm.OrderWeek DESC;


-- ============================================================================
-- 부록 2: 거래처별 mismatch 통계 (어느 거래처가 가장 많은지 파악)
-- ============================================================================
SELECT TOP 30
  c.CustKey, c.CustName, c.CustArea,
  COUNT(*) AS totalRows,
  SUM(CASE WHEN ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01 THEN 1 ELSE 0 END) AS mismatchRows
FROM ShipmentDetail sd
JOIN ShipmentMaster sm ON sd.ShipmentKey = sm.ShipmentKey
JOIN Customer c ON sm.CustKey = c.CustKey
WHERE sm.isDeleted = 0 AND ISNULL(sd.isDeleted, 0) = 0
GROUP BY c.CustKey, c.CustName, c.CustArea
HAVING SUM(CASE WHEN ABS(ISNULL(sd.OutQuantity,0) - ISNULL(sd.EstQuantity,0)) > 0.01 THEN 1 ELSE 0 END) > 0
ORDER BY mismatchRows DESC;
